/.idea/*

dl2/\.ipynb_checkpoints/
dl1/\.ipynb_checkpoints/
dl2/\fastai/*
dl1/\fastai/*
dl2/\fastai/
dl1/\fastai/
*.pkl

\.~lock\.fastai_code\.odp#
dl2/\.~lock\.imdb_parameter_testing\.xlsx#
data
data_large
fastai
/.project
/.pydevproject

#github
/background/.ipynb_checkpoints/*
/background/*.ipynb
/background/*.py
/background/*.txt

/utils/*
/ml/*
/data/*

/dl2/.ipynb_checkpoints/*
/dl2/fastai/*
/dl2/temp.png
/dl2/img/*
/dl2/data_tests/*
/dl2/data_img/*

/dl2/scripts/fastai/*
/dl2/scripts/.ipynb_checkpoints/*
/dl2/scripts/__pycache__/*
/dl2/scripts/sgugger_LM_wikitext.py
/dl2/scripts/*.py